@import url(./__like/description__like.css);
@import url(./__text/description__text.css);

.description {
    display: flex;
    min-height: 79px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0 22px 0 31px;
}