.element__like {
    width: 21px;
    height: 18px;
    background-image: url(../../../images/like_icon.svg);
    border: none;
    background-color: white;
    padding: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    grid-area: el-like;
    margin: 31px 18px 30px auto;
    cursor: pointer;
}

.element__like:hover {
    opacity: .6;
}