.page {
    min-width: 1200px;
    background-color: #C1C2C7;
    position: relative;
    font-family: 'Graphik', 'Helvetica', 'Arial';
    color: #002AEE;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}