@import url(./__button/array-input__button.css);
@import url(./__button/_disabled/array-input__button_disabled.css);
@import url(./__field/array-input__field.css);
@import url(./__input/array-input__input.css);
@import url(./__text/array-input__text.css);

.array-input {
    margin: 0 auto;
    padding: 60px 70px 45px 70px;
    display: block;
    max-width: 1440px;
}