@import url(./__button/array__button.css);
@import url(./__button/_disabled/array__button_disabled.css);
@import url(./__output/array__output.css);
@import url(./__title/array__title.css);

.array {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
    display: block;
}