.array__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    line-height: 130%;
    font-weight: normal;
    padding: 0;
    margin: 45px 0 20px 0;
}