.header__logo {
    background-image: url('../../../images/logo.svg');
    background-size: contain;
    width: 142px;
    height: 34px;
}

@media screen and (max-width: 620px) {
    .header__logo {
        width: 104px;
        height: 24.5px;
    }
}