.array__output {
    width: 100%;
    outline: none;
    font-size: 70px;
    line-height: 150%;
    border: none;
    margin: 0 0 30px 0;
    padding: 0;
    color: #EAFF68;
    background-color: #C1C3C7;
    resize: none;
}