@import url(./__title/profile-edit__title.css);
@import url(./__close-button/profile-edit__close-button.css);
@import url(./__submit-button/profile-edit__submit-button.css);
@import url(./__text-input/profile-edit__name-input.css);

.profile-edit {
    width: 430px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 620px) {
    .profile-edit {
        width: 250px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }
}