.description__like {
    min-width: 20.8px;
    min-height: 18.1px;
    background-image: url(../../../images/like_icon.svg);
    border: none;
    background-color: white;
    padding: 0;
    object-fit: cover;
}