.array__button {
    background-color: #002AEE;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 70px;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.array__button:hover {
    background-color: #0023C3;
}